#todos {
  margin-top: 30px;
}

#todosContainer {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

#todosContainer div{
  padding: 20px;
  border: 1px solid black;
  border-radius: 15px;
  position: relative;
}

#todosContainer div .cross{
  position: absolute;
  width: 15px;
  top: 5px;
  right: 5px;
}

#todosContainer div .edit{
  position: absolute;
  width: 15px;
  top: 5px;
  left: 5px;
}

#editModal {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.336);
  left: 0;
  top: 0;
}

#editModal div{
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}